@{
    ViewBag.Title = "OPR";
}

<div class="jumbotron">
    <h1>Optimal Pickup Routes (OPR)</h1>
    <p class="lead"> OPR allows you to work with others to follow a shortest distance path. </p>
    <p>
        Do you need to pick up friends from all across the area? With OPR, you can put their addresses into our system as stops, and it will give you the optimal path to pick them up. In addition, they can track your location using the “Locate Traveler” feature.
    </p>

    @Html.TextBox("Location")
    <input type="button" value="Add to Path" onclick="AddLocationToRoute()" />
    <p id="CurrentPath">
    <p id="LocationCoordinates" />
    <input type="button" value="Start Tracking Me" onclick="StartTracking()" />
    <input type="button" value="Stop Tracking Me" onclick="StopTracking()" />
    <div id="myMap" style="position:relative;width:755px;height:800px"></div>
    @*<div id='directionsItinerary' style="position:relative;height:800px; float:right"></div>*@
</div>

<script language="JavaScript" type="text/javascript" src="../../../Scripts/jquery-3.1.1.js"></script>
<script type='text/javascript' src='http://www.bing.com/api/maps/mapcontrol?callback=GetMap'></script>
<script type='text/javascript'>
    var map, directionsManager, userPin, watchId;

    function GetMap() {
        map = new Microsoft.Maps.Map('#myMap', {
            credentials: '@ViewBag.BingMapsKey'
        });

        //Load the directions module.
        Microsoft.Maps.loadModule('Microsoft.Maps.Directions', function () {
            //Create an instance of the directions manager.
            directionsManager = new Microsoft.Maps.Directions.DirectionsManager(map);

            //Specify the element in which the itinerary will be rendered and set the transport option
            directionsManager.setRequestOptions({
                routeMode: Microsoft.Maps.Directions.RouteMode.walking
            });

            //directionsManager.setRenderOptions({ showInputPanel: true, itineraryContainer: '#directionsItinerary' });
        });
    }
    
    function StartTracking() {
        //Request the user's location
        navigator.geolocation.getCurrentPosition(function (position) {
            var posLoc = new Microsoft.Maps.Location(
                position.coords.latitude,
                position.coords.longitude);

            //Add a pushpin to show the user's location.
            userPin = new Microsoft.Maps.Pushpin(posLoc, { visible: false });
            map.entities.push(userPin);

            //Watch the users location.
            watchId = navigator.geolocation.watchPosition(UsersLocationUpdated);
        });
    }

    function UsersLocationUpdated(position) {
        var loc = new Microsoft.Maps.Location(
            position.coords.latitude,
            position.coords.longitude);

        //Update the user pushpin.
        userPin.setLocation(loc);
        userPin.setOptions({ visible: true });

        //Center the map on the user's location.
        map.setView({ center: loc });
    }

    function StopTracking() {
        // Cancel the geolocation updates.
        navigator.geolocation.clearWatch(watchId);

        //Remove the user pushpin.
        map.entities.clear();
    }

    document.getElementById("Location").addEventListener("keydown", function (e) {
        //When Enter is pressed
        if (e.keyCode == 13) {
            AddLocationToRoute();
        }
    }, false);

    function AddLocationToRoute() {
        $.ajax({
            url: '@Url.Action("AddLocationToPath", "Home")',
            type: 'POST',
            async: false,
            dataType: 'json',
            data: {
                sessionId: "@ViewBag.SessionId",
                pathId: "@ViewBag.PathId",
                location: $('#Location').val()
            },
            success: function (result) {
                //document.getElementById("CurrentPath").innerHTML = result.join("<br />");
                var i = result.length-1;
                locationInfo = result[i].split(/[:]+/);
                var coordinates = locationInfo[2].split(/[,]+/);
                var point = new Microsoft.Maps.Directions.Waypoint({ address: locationInfo[1], location: new Microsoft.Maps.Location(coordinates[0], coordinates[1]) }, locationInfo[0]);
                directionsManager.addWaypoint(point);
                // Recalculate directions
                if (directionsManager.getAllWaypoints().length >= 2) {
                    directionsManager.calculateDirections();
                }
            },
            error: function (result) {
                alert($.parseJSON(result.responseText).error);
            }
        });
    }
</script>
<script type='text/javascript' src='http://www.bing.com/api/maps/mapcontrol?callback=GetMap' async defer></script>
<script>
    $(window).on("load", function () {
        var currentPath = ("@Html.Raw(ViewBag.CurrentPath)").split(/[&]+/);
        var arrayLength = currentPath.length;
        for (var i = 0; i < arrayLength; i++) {
            locationInfo = currentPath[i].split(/[:]+/);
            var coordinates = locationInfo[2].split(/[,]+/);
            var point = new Microsoft.Maps.Directions.Waypoint({ address: locationInfo[1], location: new Microsoft.Maps.Location(coordinates[0], coordinates[1]) }, locationInfo[0]);

            directionsManager.addWaypoint(point);
        }
        // Recalculate directions
        if (directionsManager.getAllWaypoints().length >= 2) {
            directionsManager.calculateDirections();
        }
    });
</script>