@{
    ViewBag.Title = "OPR";
}

<div class="jumbotron">
    <h1>Optimal Pickup Routes (OPR)</h1>
    <p class="lead"> OPR allows you to work with others to follow a shortest distance path. </p>
    <p>
        Do you need to pick up friends from all across the area? With OPR, you can put their addresses into our system as stops, and it will give you the optimal path to pick them up. In addition, they can track your location using the “Locate Traveler” feature.
    </p>

    @Html.TextBox("Location")
    <input type="button" value="Add to Path" onclick="AddLocationToRoute()" />
    <p id="CurrentPath">
    <p id="LocationCoordinates" />

</div>

<<<<<<< HEAD

<script type='text/javascript'
        src='http://www.bing.com/api/maps/mapcontrol?callback=GetMap'
        async defer>
</script>

<script type='text/javascript'>
    var map, directionsManager;

    function GetMap() {
        map = new Microsoft.Maps.Map('#myMap', {
            credentials: 'Am9BFJC-ez5iD_eqCzl5rh7d4U-uLbF9x6SFbpST6uhGgYkdgFXsDzAfD84_kfzS'
        });

        //Load the directions module.
        Microsoft.Maps.loadModule('Microsoft.Maps.Directions', function () {
            //Create an instance of the directions manager.
            directionsManager = new Microsoft.Maps.Directions.DirectionsManager(map);

            //Create waypoints to route between.
            var redmondWaypoint = new Microsoft.Maps.Directions.Waypoint({ address: 'Redmond, WA' });
            directionsManager.addWaypoint(redmondWaypoint);

            var ms41Waypoint = new Microsoft.Maps.Directions.Waypoint({ address: '15571 NE 31st St, Redmond, WA 98052' });
            directionsManager.addWaypoint(ms41Waypoint);

            var workWaypoint = new Microsoft.Maps.Directions.Waypoint({ address: 'Work', location: new Microsoft.Maps.Location(47.64, -122.1297) });
            directionsManager.addWaypoint(workWaypoint);

            //Specify the element in which the itinerary will be rendered and set the transport option
            directionsManager.setRequestOptions({
                routeMode: Microsoft.Maps.Directions.RouteMode.walking
            });

            directionsManager.setRenderOptions({ showInputPanel: true, itineraryContainer: '#directionsItinerary' });

            //Calculate directions.
            directionsManager.calculateDirections();
        });
    }

    function AddRandomToRoute() {
        // Get a random location
        var randomPoint = new Microsoft.Maps.Directions.Waypoint({ address: 'Random Point', location: Microsoft.Maps.TestDataGenerator.getLocations(1, map.getBounds()) }, 1);

        // Add way point
        directionsManager.addWaypoint(randomPoint);
        // Recalculate directions
        directionsManager.calculateDirections();
    }
</script>
<div id="myMap" style="position:relative;width:755px;height:800px; float: left"></div>
<div id='directionsItinerary' style="position:relative; float:right"></div>
=======
<script language="JavaScript" type="text/javascript" src="../../../Scripts/jquery-3.1.1.js"></script>

>>>>>>> 4a686c2079640c499db53119c1158bc0fac3c419
<script>
    document.getElementById("Location").addEventListener("keydown", function (e) {
        //When Enter is pressed
        if (e.keyCode == 13) {
            AddLocationToRoute();
        }
    }, false);

    function AddLocationToRoute() {
        $.ajax({
            url: '@Url.Action("AddLocationToPath", "Home")',
            type: 'POST',
            async: false,
            dataType: 'json',
            data: {
                sessionId: "@ViewBag.SessionId",
                pathId: "@ViewBag.PathId",
                location: $('#Location').val()
            },
            success: function (result) {
                document.getElementById("CurrentPath").innerHTML = result.join("<br />");
            },
            error: function (result) {
                alert($.parseJSON(result.responseText).error);
            }
        });
    }

    $(document).ready(function() {
        document.getElementById("CurrentPath").innerHTML = "@Html.Raw(ViewBag.CurrentPath)";
    });
</script>
<div><input type="button" value="Add random to route" onclick="AddRandomToRoute()" /></div>